# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake Relative Files
build

# Visual Studio Code build dir
.vscode
.cache
Testing

# Visual Studio build dir
/CMakeSettings.json
/.vs
/.idea
/cmake-build-debug-visual-studio
